---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/layouts/partials/PageHeader.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { render } from "astro:content";

const homepage = await getListPage("pages", "home");
const { Content } = await render(homepage);
const { title, description, meta_title, image } = homepage.data;

if (homepage.data.draft) {
  return Astro.redirect("/404");
}
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
